<header class="main-header">
  <div class="main-header__wrapper">
    <img class="main-header__logo" src="assets/header_logo.svg"/>
    <ul class="main-header__list">
      <li class="main-header__item">
        <a class="main-header__link" href="index.html">Home</a>
      </li>
      <li class="main-header__item">
        <a class="main-header__link" href="#">About Us</a>
      </li>
      <li class="main-header__item">
        <a class="main-header__link" href="#">Our Services</a>
      </li>
      <li class="main-header__item">
        <a class="main-header__link" href="#">Consultants</a>
      </li>
      <li class="main-header__item">
        <a class="main-header__link" href="#">Blog</a>
      </li>
      <li class="main-header__item">
        <a class="main-header__link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</header>
